build/
target/
.gradle
*.iml
*.ipr
*.iws
.idea/
.DS_Store
.settings
*.log
*/bin/
*/hsqldb/
hsqldb/
test-output/
out/
testng-results.xml
allure-results/
service.json
.project
.classpath
i18n.zip
/i18n
*/node_modules